$color-dark-primary: #000000;
$color-dark-secondary: rgba(235, 235, 245, 0.6);
$color-dark-tertiary: rgba(235, 235, 245, 0.3);
$color-dark-quaternary: rgba(235, 235, 245, 0.18);

$color-light-primary: #ffffff;
$color-light-secondary: rgba(60, 60, 67, 0.60);

$color-primary: #48319D;
$color-secondary: #C427FB;