<h2>{{city}}</h2>
<span>{{temperature}}</span>
<span>{{description}}</span>
<span>{{coords}}</span>
<p>app-home works!</p>
<div class = "expand-block">
	<div class = "expand-block__forecast-buttons-block">
		<button class = "expand-block__forecast-button">Hourly Forecast</button>
		<button class = "expand-block__forecast-button">Weekly Forecast</button>
	</div>
	<div class = "expand-block__tempeture-list">
		<div class = "temperature-forecast">
			<span class = "temperature-forecast__time">12 AM</span>
			<img class = "temperature-forecast__weather-icon"/>
			<span class = "temperature-forecast__temperature">19*</span>
		</div>
		<div class = "temperature-forecast">
			<span class = "temperature-forecast__time">12 AM</span>
			<img class = "temperature-forecast__weather-icon"/>
			<span class = "temperature-forecast__temperature">19*</span>
		</div>
		<div class = "temperature-forecast">
			<span class = "temperature-forecast__time">12 AM</span>
			<img class = "temperature-forecast__weather-icon"/>
			<span class = "temperature-forecast__temperature">19*</span>
		</div>
		<div class = "temperature-forecast">
			<span class = "temperature-forecast__time">12 AM</span>
			<img class = "temperature-forecast__weather-icon"/>
			<span class = "temperature-forecast__temperature">19*</span>
		</div>
	</div>

	<div class = "air-quality">
		<h3 class = "air-quality__title">AIR QUALITY</h3>
		<span class = "air-quality__info">3-Low Health Risk</span>
		<img class = "air-quality__scale" src="" alt="">
	</div>
</div>