<div class="wrapper">
	<div class="weather">
		<div class="weather__top">
			<h2 class="weather__title">12 Weather</h2>
			<a href="">
				<img src="../../../assets/social.svg" alt="" class="weather__menu" />
			</a>
		</div>
		<div class = "weather-input__block">
			<img class = "weather-input__search-icon" src="../../../assets/search.svg" alt="">
			<input class="weather-input__input" type="text" placeholder="Search for a city or airport" />
		</div>
		<div class="weather__variations-list">
			<app-weather-item></app-weather-item>
			<app-weather-item></app-weather-item>
			<app-weather-item></app-weather-item>
			<app-weather-item></app-weather-item>
		</div>
	</div>
</div>
