<div class="wrapper">
	<div class="weather">
		<div class="weather__top">
			<h2 class="weather__title">
				<a class="weather__title--link" [routerLink]="['/']">
					<img src="../../../assets/left-chevron.svg" alt="" /> Weather
				</a>
			</h2>
			<a href="">
				<img src="../../../assets/social.svg" alt="" class="weather__menu" />
			</a>
		</div>
		<div class="weather-input__block">
			<img class="weather-input__search-icon" src="../../../assets/search.svg" alt="" />
				<input
					[ngClass]="{'weather-input__input': true , 'weather-input__input--active' : isVisible}"
					type="text"
					placeholder="Search for a city or airport"
					(focus)="setVisible(true)"
					(focusout)="setVisible(false)"
					[(ngModel)]="inputText"
					(input)="onSearch()"
				/>
				<ul class="dropdown" [ngClass]="isVisible ? '' : 'hidden'">
					<li class="dropdown__item" *ngFor="let variant of variants" >
						<div class = "dropdown__city" (click) = "onSelectVariant(variant)">City {{ variant.name }}</div>
						<div class = "dropdown__province">Province {{ variant.admin1? variant.admin1 : variant.admin2 }}</div>
					</li>
				</ul>
		</div>
		<div class="weather__variations-list">
			<app-weather-item></app-weather-item>
			<app-weather-item></app-weather-item>
			<app-weather-item></app-weather-item>
			<app-weather-item></app-weather-item>
		</div>
	</div>
</div>
