<div class="wrapper">
	<div class="weather">
		<div class="weather__top">
			<h2 class="weather__title">12 Weather</h2>
			<a href="">
				<img src="../../../assets/social.svg" alt="" class="weather__menu" />
			</a>
		</div>
		<input class="weather__input" type="text" />
		<div class="weather__variations-list">
			<app-weather-item></app-weather-item>
			<app-weather-item></app-weather-item>
			<app-weather-item></app-weather-item>
			<app-weather-item></app-weather-item>
		</div>
	</div>
</div>
