@import "../../styles/variables";
@import "../../styles/helpers";

.weather {
	border-radius: 44px;
	background: linear-gradient(168deg, #2e335a 1.62%, #1c1b33 95.72%);
	box-shadow: 40px 60px 150px 0px rgba(59, 38, 123, 0.7);
	height: 100vh;
	padding: 42px;
	color: $color-light-primary;

	&__top {
		display: flex;
		margin-bottom: 10px;
		justify-content: space-between;
	}
	&__title {
		font-size: 28px;
		font-weight: 400;

		&--link:visited,
		&--link:active,
		&--link {
			color: inherit;
			text-decoration: none;
		}
	}
}

.weather-input {
	&__block {
		position: relative;
		margin-bottom: 25px;
	}

	
	&__input {
		background: linear-gradient(
			168deg,
			rgba(46, 51, 90, 0.26) 1.62%,
			rgba(28, 27, 51, 0.26) 95.72%
		);
		width: 100%;
		outline: none;
		padding: 7px 8px 7px 30px;
		border-radius: 10px;
		border: 0;
		
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
		font-size: 17px;
		line-height: 22px;

		&--active {
			border-radius: 10px 10px 0 0;
		}
		input,
		input::placeholder,li {
			color: white;
		}
	}

	&__search-icon {
		position: absolute;
		top: 10px;
		left: 10px;
	}
	&__dropdown-list {
		position: absolute;
		width: 100%;
		z-index: 2;
		background: linear-gradient(
			168deg,
			rgba(46, 51, 90, 1) 1.62%,
			rgba(28, 27, 51, 1) 95.72%
		);
	}
	&__dropdown-item {
		padding: 8px;
		font-size: 20px;
		border-bottom: 1px solid rgba($color-light-primary, 0.15);
	}
}

input::placeholder {
	color: $color-dark-secondary;
}
input {
	color: $color-light-primary;
}
