<div class="wrapper">
	<div class="home">
		<div class="home__info-block">
			<h2 class="home__title">{{ city }}</h2>
			<span class="home__temperature">{{ temperature}}°</span>
			<span class="home__description">{{ description }}</span>
			<span class="home__coords">Lat{{latitude}} Lon {{longitude}}</span>
		</div>
		<img class="home__house-img-block" src="assets/png/house.png" alt="" />
		<a [routerLink]="['/weather']">to weather test</a>
		<app-expand-block></app-expand-block>

		<div class="footer">
			<div class="footer__plus-bg"></div>
			<img class="icon" src="assets/map.svg" alt="" />
			<button class="footer__location">
				<img class="icon" src="assets/map-on.svg" alt="" />
			</button>
			<button class="footer__plus">
				<img class="icon" src="assets/plus.svg" alt="" />
			</button>
			<button class="footer__hamburger">
				<img class="icon" src="assets/hamburger.svg" alt="" />
			</button>
		</div>
	</div>
</div>
