<div class="home__wrapper">
	<div class="home">
		<div class="home__info-block">
			<h2 class="home__title">{{ city }}</h2>
			<span class="home__temperature">{{ temperature }}</span>
			<span class="home__description">{{ description }}</span>
			<span class="home__coords">{{ coords }}</span>
		</div>
		<img class="home__house-img-block" src="assets/png/house.png" alt="" />
		<div class="expand-block">
			<div class="expand-block__blur-1"></div>
			<div class="expand-block__blur-2"></div>
			<div></div>

			<div class="expand-block__header">
				<div class="expand-block__grabber"></div>
				<div class="expand-block__sub-header">
					<button class="expand-block__forecast-button--active">Hourly Forecast</button>
					<button class="expand-block__forecast-button">Weekly Forecast</button>
				</div>
				<!-- <div class = "expand-block__header-underline"></div> -->
				<!-- <div class="expand-block__header-separator"></div> -->
			</div>
			<div class="expand-block__temperature-list">
				<div class="temperature-forecast">
					<span class="temperature-forecast__time">12 AM</span>
					<img
						src="assets/png/moon-cloud-fast-wind.png"
						class="temperature-forecast__weather-icon"
					/>
					<span class="temperature-forecast__temperature">19*</span>
				</div>
				<div class="temperature-forecast">
					<span class="temperature-forecast__time">12 AM</span>
					<img
						src="assets/png/moon-cloud-fast-wind.png"
						class="temperature-forecast__weather-icon"
					/>
					<span class="temperature-forecast__temperature">19*</span>
				</div>
				<div class="temperature-forecast">
					<span class="temperature-forecast__time">12 AM</span>
					<img
						src="assets/png/moon-cloud-fast-wind.png"
						class="temperature-forecast__weather-icon"
					/>
					<span class="temperature-forecast__temperature">19*</span>
				</div>
				<div class="temperature-forecast">
					<span class="temperature-forecast__time">12 AM</span>
					<img
						src="assets/png/moon-cloud-fast-wind.png"
						class="temperature-forecast__weather-icon"
					/>
					<span class="temperature-forecast__temperature">19*</span>
				</div>
			</div>

			<div class="air-quality">
				<h3 class="air-quality__title">AIR QUALITY</h3>
				<span class="air-quality__info">3-Low Health Risk</span>
				<img class="air-quality__scale" src="" alt="" />
				<span>See more</span>
			</div>

			<div class="uv-index">
				<h3 class="uv-index__title">UV INDEX</h3>
				<span class="uv-index__value">4</span>
				<span class="uv-index__info">Moderate</span>
				<img class="uv-index__scale" src="" alt="" />
			</div>

			<div class="sunrise">
				<h3 class="sunrise__title">SUNRISE</h3>
				<span class="sunrise__value">5:28AM</span>
				<img class="sunrise__scale" src="" alt="" />
				<span class="sunrise__info">Sunset: 7:25pm</span>
			</div>

			<div class="wind">
				<h3 class="wind__title">WIND</h3>
				<span class="wind__wind-speed">9.7km/h</span>
				<img src="" alt="" />
			</div>

			<div class="rainfall">
				<h3 class="rainfall__title"></h3>
				<span class="rainfall__info">1.8mm in last hour</span>
				<span class="rainfall__additional-info">1.2mm expected in next 14h</span>
			</div>

			<div class="feels-like">
				<h3 class="feels-like__title">FEELS LIKE</h3>
				<span class="feels-like__temperature">19*</span>
				<span class="feels-like__additional-info">Similar to the actual temperature</span>
			</div>

			<div class="humidity">
				<h3 class="humidity__title">HUMIDITY</h3>
				<span class="humidity__value">90%</span>
				<span class="humidity__description">The dew point is 17 right now</span>
			</div>

			<div class="visibility">
				<h3 class="visibility__title">VISIBILITY</h3>
				<span class="visibility__value">8 km</span>
				<span class="visibility__description">Similar to the actual</span>
			</div>

			<div class="pressure">
				<h3 class="pressure__title"></h3>
				<img class="pressure__graph" src="" alt="" />
			</div>
		</div>

		<div class="footer">
			<div class="footer__plus-bg"></div>
			<img class="icon" src="assets/map.svg" alt="" />
			<button class="footer__location">
				<img class="icon" src="assets/map-on.svg" alt="" />
			</button>
			<button class="footer__plus">
				<img class="icon" src="assets/plus.svg" alt="" />
			</button>
			<button class="footer__hamburger">
				<img class="icon" src="assets/hamburger.svg" alt="" />
			</button>
		</div>
	</div>
</div>
