.weather-item {
	position: relative;
	background:linear-gradient(90deg, #5936B4 0%, #362A84 103.55%);
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 20px;
	// clip-path: path("M0 0 L300 60 L300 200 L0 200Z");



	&__weather-icon {
		width: 160px;	
		height: 160px;
	}
}